In [1]:
import pandas as pd

In [5]:
salary_data = pd.DataFrame({"salary":[16000,25000,55000,46000,80000,56000,100000],"Class":["Low","Low","Mid","Low","High","Mid","High"]})

In [6]:
salary_data

   salary Class
0   16000   Low
1   25000   Low
2   55000   Mid
3   46000   Low
4   80000  High
5   56000   Mid
6  100000  High

In [10]:
salary_data.Class.map({"Low":1,"Mid":2,"High":3})

0    1
1    1
2    2
3    1
4    3
5    2
6    3
Name: Class, dtype: int64